

<main class="main">
    <a routerLink="/historial" class="back-button">Retroceder</a>
    <h1>Has iniciado la historia</h1>
    <p class="titulo">Título: <span class="titulo-grande">XXXXXXXXXXX</span></p>
    <h1>Palabra clave</h1>
    <div class="input-group">
        <input type="text" placeholder=" " required>
    </div>
    <p class="esperando">Comparte esta palabra clave con tus <br> estudiantes para que se unan a la historia...</p>
    <a routerLink="/progreso" class="btn-orange">Comenzar</a>
</main>
