<div class="container1"> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si eres Estudiante presiona en Interactúa  <mat-icon class="icon-grande"> call_made</mat-icon> </div>

<main class="main">
  <h1>¡Hola Docente!</h1>
  <p>Estás a punto de revolucionar la manera de <br> evaluar el hábito lector en tus estudiantes.</p><p></p>
  <p>¿Aún no tienes una cuenta?</p>
  <button routerLink="/registro" class="btn-register">Regístrate</button>
  <p>o si ya tienes una</p>
    <div class="btnL">
      <button routerLink="/login" class="btn-login">Iniciar Sesión</button>
    </div>
</main>


