

<footer class="footer">
  <div class="container">
    <div class="column">
      <p class="terms-link"><a href="#">Términos y Condiciones</a></p>
    </div>
    <div class="column">
      <div class="image">
        <img src="../../../assets/iREADBlanco.png" alt="Logo de la empresa" class="logo">
        <p class="company-name">Learn Play Tech @2023</p>
      </div>
    </div>
    <div class="column social-icons">
      <a href="https://www.facebook.com" target="_blank"><img src="../../../assets/facebook.png" alt="Facebook" class="social-icon"></a>
      <a href="https://www.instagram.com" target="_blank"><img src="../../../assets/instragram.png" alt="Instagram" class="social-icon1"></a>
    </div>
  </div>
</footer>


