
<main class="main">
  <button class="btn-orange guardar-btn">
    <div class="row">
      <div class="col1">
        <i class="fa fas fa-rocket fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col2">
        <span>Guardar<br>Resultados</span>
      </div>
    </div>
  </button>
  <h1>La historia ha Finalizado</h1>
  <p class="titulo">Titulo: <span class="titulo-grande">XXXXXXXXXXXX</span></p>
  <div class="resultados-info">
    <h2 class="resultados-titulo">Resultados:</h2>
    <p class="resultados-texto">xx Estudiantes</p>
  </div>
  <div class="tabla">
    <div class="fila">
      <div class="columna nombre">Nombre del estudiante</div>
      <div class="columna puntaje">Puntaje</div>
    </div>
    <div class="fila">
      <div class="columna nombre">XXXXXXXXXXXXXXX</div>
      <div class="columna puntaje">XX/XX</div>
    </div>
    <div class="fila">
      <div class="columna nombre">XXXXXXXXXXXXXXX</div>
      <div class="columna puntaje">XX/XX</div>
    </div>
  </div>
    <button class="btn-orange" routerLink="/historial">Volver a mis historias</button>
</main>
