
<main class="main">
  <h1>La historia ha Finalizado</h1>
  <p class="titulo">Titulo: <span class="titulo-grande">{{students.title}}</span></p>
  <div class="resultados-info">
    <h2 class="resultados-titulo">Resultados:</h2>
    <p class="resultados-texto">{{students.totalStudents}} Estudiantes</p>
  </div>
  <div class="tabla">
    <div class="fila">
      <div class="columna nombre">Nombre del estudiante</div>
      <div class="columna puntaje">Puntaje</div>
    </div>
    <div *ngFor="let student of students.students" class="fila">
      <div class="columna nombre">{{ student.nameStudent }}</div>
      <div class="columna puntaje">{{ student.correctAnswer }}/20</div>
    </div>
   </div>
    <button class="btn-orange" routerLink="/historial">Volver a mis historias</button>
</main>



