<main>
  <main class="main">
    <h1 class="titulo">Mis historias creadas</h1>
    <div class="filtro">
      <label for="filtro">Filtrar por:</label>
      <select id="filtro" class="select-filtro" (change)="onFiltroChange($event)">
        <option>Seleccionar filtro</option>
        <option>Alfabeticamente</option>
        <option>Mas recientes</option>
      </select>
    </div>

  </main>


  <div class="cards-container">
    <!-- Utiliza *ngFor en la card individual -->
    <div class="card" *ngFor="let story of stories">
      <img [src]="story.imgPreview" alt="Imagen de la historia">
      <h2>{{ story.title }}</h2>
      <p>Creado el {{ story.dateCreation }}</p>
      <div class="botones-container">
        <button routerLink="/iniciar" href="iniciar-historia.html" class="btn-orange">Iniciar</button>

        <!-- Contenedor para los últimos dos botones -->
        <div class="circles-container">
          <button class="btn-verde circle"></button>
          <button class="btn-gris circle"></button>
        </div>
      </div>
    </div>
  </div>



</main>
