main {
  background-color: #f2f2f2; /* Color de fondo gris */
  text-align: center; /* Centra el texto */
  padding: 100px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
}

. main {
  display: flex;
}

.datosdehistoria .h2{
  font-family: 'League Spartan', sans-serif;
  font-size: 25px; /* Tamaño del texto en negrita */

}
h2{
  font-weight: inherit; /* Grosor del texto */


}

main h1 {
  font-size: 45px; /* Tamaño del texto en negrita */
  font-weight: bold; /* Grosor del texto */
  color: #0049ac; /* Color del texto azul */
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 50px;
}

.main p {
  font-size: 18px; /* Tamaño del texto normal */
  margin-bottom: 20px; /* Margen inferior */
  font-family: 'League Spartan', sans-serif;
}

.btn-register, .btn-login {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 15px 30px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  margin-bottom: 20px; /* Margen inferior */
  border-radius: 30px;
}

.btn-login {
  background-color: #000; /* Puedes cambiar el color si lo deseas */
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-size: 45px;
  font-weight: bold;
  color: #0049ac;
  margin-left: 150px;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 20px;
}

.filtro {
  margin-right: 170px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  font-family: 'League Spartan', sans-serif;
}

.cards-container {
  padding: 10%;
  display: grid; /* Cambia a una cuadrícula flexible */
  grid-template-columns: repeat(auto-fill, minmax(calc(30% - 20px), 1fr)); /* Crea columnas flexibles */
  gap: 40px;
  margin-top: -150px;
  margin-bottom: -150px;
}

.card {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}


.circles-container {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Ajusta el margen según sea necesario */
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;  /* Ajusta el margen según sea necesario */
  /* Otros estilos según sea necesario */
}

.card img {
  width: 100%;
  height: 200px; /* Reduje la altura de la imagen */
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 5px; /* Reduje el margen inferior de la imagen */
}

.btn-verde,
.btn-gris {

  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'League Spartan', sans-serif;
}
.btn-verde {
  background-color: #c7df66; /* Verde */
}

.btn-gris {
  background-color: #7e7d7d; /* Gris */
}

.btn-orange {
  padding: 4px 16px; /* Reduje el espaciado interno de los botones */
  font-size: 14px; /* Reduje el tamaño del texto de los botones */
  border-radius: 20px; /* Reduje el radio del borde de los botones */
}


.btn-orange {
  background-color: #fd7900;
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 5px 40px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
}

.btn-orange:hover {
  background-color: #f57c00; /* Cambia el color de fondo al pasar sobre el botón */
}

.botones-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.boton-imagen {
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
  margin-right: 10px; /* Espaciado entre las imágenes */
  cursor: pointer;
}

.boton-editar {
  background-color: #b2dfb7; /* Verde claro */
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
}

.boton-eliminar {
  background-color: #ccc; /* Gris */
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
}


