.main {
  background-color: #f2f2f2; /* Color de fondo gris */
  text-align: center; /* Centra el texto */
  padding: 100px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
}

.main h1 {
  font-size: 45px; /* Tamaño del texto en negrita */
  font-weight: bold; /* Grosor del texto */
  color: #0049ac; /* Color del texto azul */
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 50px;
  margin-right: 500px;
}

.main p {
  font-size: 18px; /* Tamaño del texto normal */
  margin-bottom: 20px; /* Margen inferior */
  font-family: 'League Spartan', sans-serif;
}

.btn-register, .btn-login {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 15px 30px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  margin-bottom: 20px; /* Margen inferior */
  border-radius: 30px;
}

.btn-login {
  background-color: #000; /* Puedes cambiar el color si lo deseas */
}

.filtro {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center; /* Centra el texto */
  font-family: 'League Spartan', sans-serif;
  margin-left: 720px;
}

.select-filtro {
  font-size: 16px;
  padding: 10px;
  font-family: 'League Spartan', sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  width: auto;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-verde, .btn-gris {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
  margin-right: 5px;
  font-family: 'League Spartan', sans-serif;
}

.btn-verde {
  background-color: #4caf50; /* Verde */
}

.btn-gris {
  background-color: #ccc; /* Gris */
}

.btn-orange {
  background-color: #fd7900;
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 15px 30px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
}

.btn-orange:hover {
  background-color: #f57c00; /* Cambia el color de fondo al pasar sobre el botón */
}

.botones-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.boton-imagen {
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
  margin-right: 10px; /* Espaciado entre las imágenes */
  cursor: pointer;
}

.boton-editar {
  background-color: #b2dfb7; /* Verde claro */
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
}

.boton-eliminar {
  background-color: #ccc; /* Gris */
  width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: 10px; /* Ajusta la altura de las imágenes según sea necesario */
}
