<main>
  <div class="container-main">

    <div>
      <div class="caratula text-center">
        <p class="lanzamiento">Lanzamiento</p>
        <p class="doTexto">Revoluciona la manera de evaluar <br> el hábito lector en tus estudiantes</p>
        <img class="fotocaratula" src="../../../assets/first.png" alt="Caratula" width="780" height="250">
        <p class="roTexto">Crea historias, compártelas con tus estudiantes <br> y evalúa su comprensión lectora con su interacción</p>
        <button routerLink="/inicio" type="button" class="btn btnCaratula btn-warning">
          ¡Comienza Ya!
        </button>

      </div>

    </div>

    <div class="info">

      <div class="text-center">

        <div class="col-lg-12">
          <img class="fotoinfo col-md-auto" src="./assets/second.png" alt="Caratula" width="550" height="350">
          <img class="fotoinfo col-md-auto" src="./assets/third.png" alt="Caratula" width="550" height="350">
        </div>

      </div>

    </div>

    <div>
      <p class="objetivos mb-5 mt-5">Objetivos</p>
    </div>

    <div class="objetivocontainer">

      <div class="text-center">

        <div class="aaa">
          <img class="cont1 col-md-auto" src="assets/fourth.png" alt="Caratula" width="550" height="350">

          <img class="cont2 col-md-auto" src="assets/docente.png" alt="Caratula" width="550" height="350">

          <img class="cont3 col-md-auto" src="assets/fifth.png" alt="Caratula" width="550" height="350">

        </div>

      </div>

    </div>

    <div>
      <p class="objetivos" style="margin-top: 90px;">Testimonios</p >
    </div>

    <app-carousel></app-carousel>

  </div>
</main>
