@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=League+Spartan:wght@100;300&family=Sen:wght@700&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
}

.caratula {
  margin-top: -150px;
  font-weight: bold;
}

.fotocaratula {
  margin-top: -20px;
}


.lanzamiento {
  font-weight: bold;
}

.doTexto {
  font-size: x-large;
  font-weight: bolder;
}

.roTexto {
  font-size: large;
  font-weight: bolder;
  margin-top: 10px;
}

.btnCaratula {
  margin-top: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff7a00;
  border-radius: 39px;
  width: 150px;
}


/**/
.info {
  background-color: #91D2EE;
  margin-top: 40px;
  height: fit-content;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.objetivos {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 20px;
  text-align: center;
}

.cont1 {
  background-color: #c9e167 ;
}

.cont2 {
  background: linear-gradient(to right, #c9e167 50%, #E870A6 50%);
  overflow: visible;
}

.cont3 {
  background-color: #E870A6 ;
}

.fotoinfo1 {
  transform: scale(1.2);
}

.carousel {
  width: 40%;
  margin-top: -30px;
}
.objetivocontainer{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.margenes{
  margin-left: -40%;
  margin-right: -40%;
}
