body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;

}

main {
  background-color: #eaeaea;
  text-align: center;
  padding: 100px;
  font-family: 'League Spartan', sans-serif;
}

.main h1 {
  font-size: 55px;
  font-weight: bold;
  color: #0049ac;
  margin-bottom: 50px;
  margin-top: -10px;
  font-family: 'League Spartan', sans-serif;
}


.btn-orange {
  background-color: #fd7900;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 30px;
}

.btn-orange:hover {
  background-color: #fd7900;
}

.formulario-container {
  width: 500px;
  margin: 0 auto;
  background-color: #c9e16787;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;

}

.input-group-custom {
  margin-bottom: 15px;
  text-align: left;
}

.input-custom {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

.label-custom {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  font-family: 'League Spartan', sans-serif;
}

.required {
  color: red;
  margin-left: 5px;
}

.forgot-password {
  color: #004AAD;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
  font-family: 'League Spartan', sans-serif;
}

.header-custom {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.logo-custom img {
  width: 150px;
  height: 80px;
}

.nav-custom a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 30px;
  margin-left: 30px;
  transition: all 0.3s ease;
}

.nav-custom a.active {
  font-weight: bold;
}

.right-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-content p {
  margin: 0;
  margin-right: 10px;
  color: black;
  font-weight: bold;
}

.btn-black {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}
