
<div class="container">
  <mat-toolbar-row>
    <div class="navdiv">
      <img routerLink="/" src="./assets/iREAD.png" alt="LOGO" width="250" height="150" class="tamano">
    </div>
    <div>
      <nav class="nav">
        <a routerLink="/unete"><h1  class="negrita">Únete</h1></a>
        <a routerLink="/interactua"><h1 >Interactúa</h1></a>
        <div class="mensajito">¿No tienes cuenta?</div>
        <a routerLink="/registro"><h1 >Regístrate</h1></a>



      </nav>
    </div>
  </mat-toolbar-row>
</div>
