main {
  background-color: #eaeaea;
  height: 1200px;
}
.row{
  background-color: #ffffff; /* Color de fondo gris */
  font-family: 'League Spartan', sans-serif;
}
.card{
  width: 1800px;
  height: 1100px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

.card3{
  margin-left: 200px;
  width: 600px;
  height: 920px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #989898; /* Añade esta línea para el borde negro */
  background-color: #ffffff;

}
.card2 {
  margin-left: 50px;
  width: 1000px;
  height: 920px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #989898; /* Añade esta línea para el borde negro */
  background-color: #ffffff; /* Color de fondo gris */

}
.resp-group {
  margin-bottom: 40px;
}

.formulario {
  max-width: 450px;
  max-height: 800px;
  margin: 0 auto;
}

.idStory {
  width: 50%;
  margin: 0 auto;
}

.title {

}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}


btns {
  text-align: center;
}

.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.correct-label {
  margin-left: 85px;
}
.answer-label {
  margin-left: 105px;
}

.option{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 40px;
}

.cuestionInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.responseInput {
  width: 250px; /* Ancho personalizado */
  height: 40px; /* Alto personalizado */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;

}

.answer-number {
  text-align: right;
  margin-left: 10px;
}
.palabraText {
  text-align: right;
  margin-left: 10px;
}

.answer {
  display: flex;
  align-items: center;
}

.sigcas{
  margin-left: 10px;
}
.responseInput2 {
  width: 350px; /* Ancho personalizado */
  height: 40px; /* Alto personalizado */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  margin-top: 5px;
}

textarea.significadoInput {
  margin-left: 8px;
  width: 442px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


textarea.cuestionInput {
  width: 450px; /* Ancho personalizado */
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.move-left {
  margin-top: -20px;
  margin-right: 140px; /* Ajusta el margen derecho según tu preferencia */

}
.move-rigt {
  margin-top: -20px;
  margin-right: 110px; /* Ajusta el margen derecho según tu preferencia */

}



