main {
  background-color: #eaeaea; /* Color de fondo gris */
  padding: 120px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
}

.card{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.formulario {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

btns {
  text-align: center;
}


