<div class="idStory">
  <label>Codigo de la historia:</label>
  <input type="text" name="idStory" [(ngModel)]="idStory">
</div>


<main>
  <div class="card">
   <div class="card">

     <div class="d-flex justifly-content-between mt-3 mb-10">
       <div class="quiz-header">
         <h4 style="font-style: italic; margin-left: 10px; margin-right: 450px;"> Realiza tus preguntas</h4>
         <span style="font-style: italic; margin-left: 10px;"> Bienvenido ___!</span>
       </div>
       <div class="image">
         <img src="./assets/startup.png" width="70" alt="logo" >
       </div>
     </div>

     <ng-container *ngFor="let question of questions; let i = index">
       <div *ngIf="page === i + 1">
         <div class="formulario">
           <form (submit)="submitForm(i)">
             <div class="title mt-3 mb-3">
               <h2>FORMULARIO {{ i + 1 }}:</h2>
             </div>
             <div class="resp-group ">
               <label for="questionText{{ i + 1 }}">Pregunta {{ i + 1 }}:</label>
               <textarea class="cuestionInput" id="questionText{{ i + 1 }}" name="questionText{{ i + 1 }}" [(ngModel)]="questions[i].questionText" required rows="3"></textarea>
               <div class="d-flex justifly-content-between mt-3 mb-2">
               <label class="answer-label">RESPUESTAS</label>
               <label class="correct-label">CORRECTA</label>
               </div>
               <div *ngFor="let option of questions[i].options; let j = index" class="response">
                 <label class="answer-number">R{{ j + 1 }}:  </label>
                 <input class="responseInput" type="text" name="option{{ j }}" [(ngModel)]="questions[i].options[j].text" required>
                 <input class="option" type="radio" [id]="'correct-' + i + '-' + j" name="correct{{ i }}" [value]="j" [checked]="questions[i].options[j].correct" (change)="updateCorrectOption(i, j)">
               </div>
             </div>
           </form>
         </div>
       </div>

</ng-container>
     </div>


     <div class="btns">
       <div class="column d-flex justify-content-between mb-5 mt-5">
         <button [disabled]="page === 1" (click)="prevpage()" class="btn move-rigt"><i class="fa text-primary fa-chevron-left fa-2x" aria-hidden="true"></i></button>
         <button routerLink="/crea" *ngIf="page<5"  class="btn btn-primary">Cancelar</button>
         <button routerLink="/historial" *ngIf="page >= 5" (click)="generateJSON()" class="btn btn-primary">Guardar</button>
         <button [disabled]="page === 5" (click)="nextpage()" class="btn move-left"><i class="fa text-primary fa-chevron-right fa-2x" aria-hidden="true"></i></button>


       </div>
     </div>
    </div>
  </main>
