<main>

  <h1>Regístrate</h1>


  <div class="stepper-container">

    <mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper">

      <mat-step [stepControl]="firstFormGroup" class="step">

        <ng-template matStepLabel>Información Personal</ng-template>

        <form [formGroup]="firstFormGroup" class="form-container">
          <div class="input-group">
            <label class="field-label" for="nombre">Nombres:<span class="required">*</span></label>
            <input matInput placeholder=" " formControlName="firstCtrl" required>
          </div>
          <div class="input-group">
            <label class="field-label" for="apellidos">Apellidos:<span class="required">*</span></label>
            <input matInput placeholder=" " formControlName="secondCtrl" required>
          </div>
        </form>
        <div class="buttons">
          <button  matStepperNext class="next-button">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" class="step">
        <ng-template matStepLabel>Información de Cuenta</ng-template>
        <form [formGroup]="secondFormGroup" class="form-container">
          <div class="input-group">
            <label class="field-label" for="email">Correo electrónico:<span class="required">*</span></label>
            <input matInput placeholder=" " formControlName="emailCtrl" required>
          </div>
          <div class="input-group">
            <label class="field-label" for="password">Contraseña:<span class="required">*</span></label>
            <input matInput type="password" placeholder="Al menos 8 caractéres" formControlName="passwordCtrl" required>
          </div>
          <div class="input-group">
            <label class="field-label" for="confirm-password">Confirmar Contraseña:<span class="required">*</span></label>
            <input matInput type="password" placeholder=" " formControlName="confirmPasswordCtrl" required>
          </div>
          <div class="input-group checkbox-group">
            <mat-checkbox class="field-label" formControlName="newsletterCtrl">Acepto que envíen a mi correo Novedades sobre iRead</mat-checkbox>
          </div>
        </form>
        <div class="buttons">
          <button matStepperPrevious class="back-button">Atrás</button>
          <button (click)="registrarse()"  class="next-button">Registrarme</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</main>
