body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #eaeaea; /* Color de fondo gris */
  text-align: center; /* Centra el texto */
  padding: 220px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
}

.main h1 {
  margin-top: 50px;
  font-size: 45px; /* Tamaño del texto en negrita */
  font-weight: bold; /* Grosor del texto */
  color: #0049ac; /* Color del texto azul */
  margin-bottom: 50px;
  font-family: 'League Spartan', sans-serif;
}

.btn-register, .btn-login {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 15px 30px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  margin-bottom: 20px; /* Margen inferior */
  border-radius: 30px;
}

/**********************DOCENTE-INICIO********************/

/**********************INGRESO-HISTORIA********************/

.back-button {
  position: relative;
  top: -100px;
  left: -750px;
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cursor de puntero al pasar el mouse */
}

.titulo {
  font-size: 30px; /* Tamaño del texto del título */
  color: black; /* Color del texto azul */
  margin-bottom: 15px; /* Margen inferior entre los párrafos */
}

.autor {
  font-size: 30px; /* Tamaño del texto del autor */
  color: black; /* Color del texto verde */
  margin-bottom: 15px; /* Margen inferior entre los párrafos */
}

.esperando {
  font-size: 30px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  color: black; /* Color del texto negro */
  margin-bottom: 15px; /* Margen inferior entre los párrafos */
  margin-top: 50px; /* Margen superior */
}

.titulo-grande {
  font-weight: bold; /* Texto en negrita */
  font-size: 35px; /* Tamaño de fuente para "Risitos de Oro en el Bosque" */
  color: black;
  margin-left: 20px;
}

.btn {
  color: #0048ab;
  margin-right: 1550px;
  margin-top: -100px;
}
