main {
  background-color: #eaeaea; /* Color de fondo gris */
  display: flex;
  justify-content: center; /* Centrado horizontal */
  font-family: 'League Spartan', sans-serif;
}

.main2 {
  background-color: #f1f3f4; /* Color de fondo gris */
  padding: 10px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
  display: flex;
  justify-content: center; /* Centrado horizontal */

}
button {
  margin-top: 10px;
}
